<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OWPProjekat2019</display-name>
  <welcome-file-list>
    <welcome-file>glavna.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
  		owp.servlet.InitListener
  	</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UnauthorizedServlet</display-name>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <servlet-class>owp.status.UnauthorizedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <url-pattern>/UnauthorizedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>owp.status.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>owp.status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>owp.status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>owp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaServlet</display-name>
    <servlet-name>RegistracijaServlet</servlet-name>
    <servlet-class>owp.servlet.RegistracijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaServlet</servlet-name>
    <url-pattern>/RegistracijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AplikacijaServlet</display-name>
    <servlet-name>AplikacijaServlet</servlet-name>
    <servlet-class>owp.servlet.AplikacijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AplikacijaServlet</servlet-name>
    <url-pattern>/AplikacijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>owp.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKorisnikaServlet</display-name>
    <servlet-name>DodajKorisnikaServlet</servlet-name>
    <servlet-class>owp.servlet.DodajKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKorisnikaServlet</servlet-name>
    <url-pattern>/DodajKorisnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikServlet</display-name>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>owp.servlet.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/KorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijaServlet</display-name>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <servlet-class>owp.servlet.ProjekcijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <url-pattern>/ProjekcijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaServlet</display-name>
    <servlet-name>KartaServlet</servlet-name>
    <servlet-class>owp.servlet.KartaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaServlet</servlet-name>
    <url-pattern>/KartaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>owp.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijeServlet</display-name>
    <servlet-name>ProjekcijeServlet</servlet-name>
    <servlet-class>owp.servlet.ProjekcijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijeServlet</servlet-name>
    <url-pattern>/ProjekcijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzvestajServlet</display-name>
    <servlet-name>IzvestajServlet</servlet-name>
    <servlet-class>owp.servlet.IzvestajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzvestajServlet</servlet-name>
    <url-pattern>/IzvestajServlet</url-pattern>
  </servlet-mapping>
</web-app>